body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fcfea4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #7edd63;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 135, 65, 0.1);
    text-align: center;
    max-width: 500px;
}

h1 {
    color: #790404;
    margin-bottom: 20px;
}

.games-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

.game-option {
    width: 200px; /* גודל קבוע לכל כרטיס */
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}
.game-option:hover {
    transform: scale(1.05);
}

.game-option a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.game-option img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc;
}

.game-option h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
}
.game-option img {
    width: 100%;
    height: 100px; 
    display: block;
    border-bottom: 1px solid #ccc;
}